:root{
    --rojo: #E63946;
    --azul: #457b9d;
    --amarrillo: #f1ee37;
    --gris: #f1faee;
    --negro: #1d3557;
}
*{
    font-family: "Press Start 2P", system-ui;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('../storage/img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.logo {
    z-index: 1;
    position: relative;
    height: 300px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
    padding-top: 270px;
}

.contenedor-texto {
    margin-top: 150px;
   justify-content: center;
   background-color: #6D93F56B;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 30px;
}

.texto {
    padding-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 30px;
}